{% extends 'layouts/base.html' %}

{% block content %}
<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam beatae laborum repellendus repudiandae, est harum obcaecati ipsum earum doloribus suscipit, ut praesentium placeat? Rem itaque quaerat nobis culpa adipisci omnis possimus reprehenderit odit error, rerum porro expedita, ut obcaecati iusto temporibus excepturi quisquam. Aut eveniet, beatae impedit cumque inventore nulla non fuga minima id adipisci assumenda saepe nostrum, provident quo ducimus vero minus numquam! Libero placeat, rerum sapiente dolore, pariatur veniam optio, adipisci laboriosam soluta voluptatem quo repudiandae. Ut, perferendis necessitatibus dolorem delectus, exercitationem, eaque maiores tempore inventore sunt dolore amet. Excepturi consectetur accusantium neque doloribus tempora sint blanditiis repellendus!</p>

{% endblock %}
